* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
html, body, .wrapper {
  width: 100%;
}  

body {
  font-family: sans-serif;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  height: 60px;
  background: black;
  display: flex;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.header a {
}

.header img {
  width: 40px;
}

.header h1 {
  color: white;
  font-size: 14px;
  width: 100%;
  padding: 0 51px;
  text-align: center;
  font-weight: 400;
}

.main {
  margin-top: 60px;
}

.issue {
  padding: 20px 20px 0 20px;
  background: #F0C8AD;
}

.issue--turquoise {
  background: #ADF0D9;
}

.issue--blue {
  background: #ADDAF0;
}

.issue__title {
  line-height: 240px;
  vertical-align: center;
  text-align: center;
  height: 240px;
  background: rgba(220,220,220, 0.51);
  border: 2px solid black;
  position: relative;
  margin-bottom: 25px;
}

.issue__title-text {
  color: white;
  font-weight: 400;
  font-size: 46px;
  padding: 15px;
}

.issue__date {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-weight: 400;
  color: white;
  display: block;
  line-height: 1;
  font-size: medium;
}

.issue__description {
  text-align: center;
  margin-bottom: 20px;
}

.owl-carousel {
  padding-bottom: 15px;
}

.continue {
  background: #3C3C3C;
  margin-top: 15px;
}

.continue--inside {
  background: #F0C8AD;
}

.continue .slider__item::after {
  content: '';
  height: 2px;
  background: #C8F70B;
  width: 50%;
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: 1;
}

.continue .owl-item:nth-child(1) .slider__item::after {
  width: 15%;
}

.continue .owl-item:nth-child(2) .slider__item::after {
  width: 75%;
}

.continue .owl-item:nth-child(4) .slider__item::after {
  width: 35%;
}

.continue__title {
  font-size: 14px;
  color: white;
  font-weight: 400;
  padding-left: 15px;
  margin-bottom: 15px;
}

.slider {
  padding: 20px 0;

  margin-left: -20px;
  margin-right: -20px;
}


.slider--negative-margin {
}

.slider__item {
  list-style: none;
  background: #dcdcdc;
  width: 110px;
  height: 160px;
  border: 2px solid #979797;
  display: flex;
  align-items: center;
  position: relative;
}

.slider__category {
  position: absolute;
  opacity: 0.5;
  font-weight: 400;
  bottom: 5px;
  left: 5px;
}

.slider__title {
  text-align: center;
}

.footer {
  height: 210px;
  background: #333;
  color: white;
  vertical-align: middle;
  padding: 80px 30px;
}


.header--no-padding {
  height: 50px;
  padding: 0;
  line-height: 0;
}

.input {
  height: 50px;
  width: 270px;
  background: black;
  border: 0;
  padding: 15px;
  font-size: large;
  color: white;
  -webkit-appearance: none;
}

.input: focus {
  outline: 0;
}

img.big-button {
  width: 50px;
}

.results {
  padding: 32px 40px;
}

.result {
  margin-bottom: 36px;
}

.result__header {
  position: relative;
  border-bottom: 2px solid grey;
  margin-bottom: 15px;
}

.result__issue {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 4px;
}

.result__date {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
  text-align: right;
}

.result__item {
  margin-bottom: 20px;
}

.result__title {
  font-weight: 400;
  font-size: 13px;
}

.result__author {
  font-size: 13px;
  opacity: 0.5;
  font-weight: 400;
  margin-bottom: 4px;
}

.result__text {
  font-size: 10px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
  line-height: 15px;
}

.result__text strong {
  display: inline-block;
  background: #50E3C2;
}

.header__settings {
  width: 140px;
}

.header__settings a {
  margin-right: 5px;
}

.header__close {
  margin-left: auto;
}

.article {
  padding: 30px 20px 0 20px;
}

.article__header {
  height: 280px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.article__header::after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 65%;
  background: grey;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 0.5;
}

.article__title {
  font-size: 46px;
  width: 100%;
  font-weight: 400;
  text-align: center;
}

.article__standfirst {
  font-size: 17px;
  line-height: 1.3;
  margin-bottom: 24px;
}

.article__content p {
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 15px;
}
